body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/workspaces/todo-Eric-Mulero/src/img/todo.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  text-align: center;
}

.app-title {
  color: rgb(0, 0, 0);
  margin-bottom: 20px;
}

.task-input {
  width: 60%;
  padding: 10px;
  border: 1px solid rgba(255, 0, 0, 0);
  border-radius: 4px;
  margin-bottom: 20px;
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.task-input::placeholder {
  color: rgba(0, 0, 0, 0.7);
}

.task-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  
}

.task-text {
  margin: 0;
  font-size: 20px;
  color: rgb(0, 0, 0);
}

.delete-button {
  background-color: rgb(255, 2, 2);
  color: rgb(0, 255, 0);
  border: none;
  padding: 3px 8px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 13px;
}

.delete-button:hover {
  background-color: rgb(2, 255, 2);
  content: "Tarea completada";/*no funciona lo que quiero*/
  
}

.task-status {
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
  color: rgb(0, 0, 0);

}